<template>
  <main>
    <button @click="joinRoom('3000', '22')">user1加入房間</button>
    <button @click="joinRoom('3000', '23')">user2加入房間</button>
    <!-- <button @click="joinRoom('3001', '2')">加入server2的房間room1</button>
    <button @click="joinRoom('3000', 'room2')">加入serve1房間room2</button> -->
    <button @click="emitMessage">發送hello</button>
  </main>
</template>

<script setup>
import { io } from "socket.io-client";
import { ref } from "vue";

const socket = ref(null)
const selectRoomId = ref(null)

function joinRoom(port, userId) {
  let token = ''
  if(userId === '22') token = `eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjIyLCJpYXQiOjE2OTE2NzY0NzgsImV4cCI6MTY5MTY4MzY3OCwidHlwZSI6MH0.UkuK402gCH9zENHiUY7ydr9yHc8Iano7mfbYmC9Nb5g`
  if(userId === '23') token = `eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjIzLCJpYXQiOjE2OTE2NzY3NDAsImV4cCI6MTY5MTY4Mzk0MCwidHlwZSI6MH0.fKGzMNykfk9pBhjHnGXe_5Yg6kHBI-i-gW8wDNeRtAE`

  selectRoomId.value = 8
  socket.value = io(`ws://localhost:${port}`, {
    transportOptions: {
      polling: {
        extraHeaders: {
          'Authorization': `Bearer ${token}`,
        },
      },
  },
  });

  socket.value.emit('join_room', {roomId: selectRoomId.value})

  socket.value.on('update_total_user_in_room', (totalUser) => {
    console.log('總人數: ', totalUser)
  })

  socket.value.on('broadcast', (msg) => {
    console.log('broadcast: ', msg)
  })

  socket.value.on("disconnect", (reason) => {
    console.log('disconnect reason:', reason)
    if (reason === "io server disconnect") {
      // the disconnection was initiated by the server, you need to reconnect manually
      socket.value.connect();
    }
    // else the socket will automatically try to reconnect

    // 若已在房間內, 需手動觸發加入房間事件: socket.value.emit('join_room', {roomId: 1})
  });

  socket.value.on('connect_error', error => {
    console.error('connect_error:', error.data)
  })

  socket.value.on('join_room_error', error => {
    console.error('join_room_error:', error)
  })

}

function emitMessage() {
  socket.value.emit('emit', {roomId: selectRoomId.value, msg: 'hello'})
}


</script>
